.main-board-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  position: relative;
}

.main-board__navigation {
  flex-basis: 13%;

  & .main-board__nav-list {
    display: flex;
    justify-content: flex-end;

    & li {
      list-style: none;
      cursor: pointer;
      border: 0.5px solid $bg-color-additional-light;
      border-radius: 30px;
      padding: 6px 21px;

      &:hover {
        background-color: $bg-color-additional-light;
        opacity: 0.7;
      }

      &.active-mode {
        background-color: $bg-color-additional-light;
      }
    }
  }
}

.chat-board {
  width: 100%;
  min-height: 600px;
  display: flex;
  justify-content: space-between;
  background-color: $bg-color-primary;
  border-radius: 30px;
  padding: 10px;
}

.chat-section__input {
  box-sizing: border-box;
  border-radius: 30px;
  padding: 10px;
  margin: 10px 0;
  border: none;

  & input {
    width: 100%;
    border-radius: 30px;
    padding: 10px;
    border: none;
    box-sizing: border-box;
  }
}

.card {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  & .card-name {
    padding-left: 4px;
  }

  .card-avatar {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    align-self: center;
    margin-left: 6px;
    background: lighten($button-color, 10%);
  }
}

.addgroup_mode {
  & form :nth-child(3) {
    width: 92%;
    padding-top: 25px;
  }

  & input:last-of-type {
    border-radius: 20px;
  }

  .card {
    padding: 10px 0;

    & .card-msg {
      position: relative;

      & .card-name {
        padding-left: 8px;
      }

      & .card_delete {
        font-size: 10px;
        position: absolute;
        left: 145px;
        bottom: 2px;
        cursor: pointer;
      }
    }
  }
}

.cards-section {
  box-sizing: border-box;
  flex-basis: 27%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  & .cards-section__chat-panel {
    border-radius: 30px;
    height: 100%;
    overflow-y: auto;

    & .card-section__nav-list {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      margin: 0;

      & .user-card {
        margin-bottom: 1px;

        & .card {
          border-radius: 30px;
          border: 0.5px solid $bg-color-selected-light;
          cursor: pointer;

          & .card-info {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            & .card-msg {
              width: 165px;

              & .card-msg__text {
                font-size: 11px;
                padding-right: 7px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                color: $text-color-light;
              }
            }

            & .card__msg-details {
              position: relative;
              font-size: 9px;

              &__msg-time {
                position: absolute;
                top: 13px;
                right: 5px;
              }
            }
          }
        }
      }
    }
  }
}

.card_selected {
  background-color: $bg-color-selected-light;
  border-radius: 30px;
}

.messages-board {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: linear-gradient($bg-color-additional-light, $bg-color-primary);
  border-radius: 20px;
  margin: -5px 0 0 10px;
  overflow-y: auto;

  .messages-board__messages {
    padding: 20px 15px 0;
    overflow-y: auto;
  }

  & .message {
    display: flex;
    align-items: center;

    p.message-text {
      display: block;
      border: 1px solid $bg-color-primary;
      background: lighten($bg-color-selected-light, 5%);
      border-radius: 20px;
      margin: 10px;
      padding: 5px;
    }

    span.message-time {
      font-size: 8px;
    }
  }

  .message.host-msg {
    justify-content: flex-end;

    & .message-text {
      background: $color-white;
      order: 2;
    }
  }
}

.messages-board__info-block {
  position: absolute;
  top: 40px;
  background-color: $bg-color-selected-light;
  padding: 10px 73px 10px 10px;
  border-radius: 30px;

  .icon-info {
    position: absolute;
    right: 20px;
  }
}

span.card__msg-details__msg_counter {
  background: $bg-color-additional-light;
  border-radius: 50%;
  align-self: end;
  padding: 2px 4px;
  position: absolute;
  bottom: 21px;
  right: 7px;
}

.profile_mode,
.addgroup_mode {
  background-color: $bg-color-primary;
  align-self: center;
  flex-wrap: wrap-reverse;
  width: 100%;
  position: relative;

  & .form_input {
    position: relative;

    & span.form_editMode {
      position: absolute;
      font-size: 10px;
      top: 32px;
      right: -25px;
      cursor: pointer;
    }
  }

  & .avatar_block {
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;

    & .profile-avatar {
      width: 95px;
      height: 95px;
      background: $bg-color-selected-light;
      border-radius: 50%;
    }

    & img {
      height: 100px;
      width: 100px;
    }

    & .avatar_block__span {
      padding-top: 10px;
      font-size: 10px;
      cursor: pointer;
    }
  }
}
