.main-board-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.main-board__navigation {
  flex-basis: 13%;

  & .main-board__nav-list {
    display: flex;
    justify-content: flex-end;

    & li {
      list-style: none;
      cursor: pointer;
      border: 1px solid $bg-color-additional-light;
      border-radius: 30px;
      padding: 6px 21px;

      &:hover {
        background-color: $bg-color-additional-light;
      }
    }
  }
}

.chat-board {
  width: 100%;
  height: 80vh;
  min-height: 600px;
  display: flex;
  justify-content: space-between;
  background-color: $bg-color-primary;
  border-radius: 30px;
  padding: 10px;
}

.chat-section__input {
  box-sizing: border-box;
  border-radius: 30px;
  padding: 10px;
  margin: 10px 0;
  border: none;

  & input {
    width: 100%;
    border-radius: 30px;
    padding: 10px;
    border: none;
    box-sizing: border-box;
  }
}

.cards-section {
  box-sizing: border-box;
  flex-basis: 25%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  & .cards-section__chat-panel {
    background-color: $bg-color-additional;
    border-radius: 30px;
    height: 100%;
    overflow: hidden;

    & .card-section__nav-list {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      margin: 0;

      & li {
        margin-bottom: 1px;

        & .card {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          border-radius: 30px;
          border: 1px solid $bg-color-additional;

          .card-avatar {
            width: 75px;
            height: 75px;
            border-radius: 30%;
            align-self: center;
            margin-left: 6px;
          }

          & .card-info {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            & .card-msg {
              width: 126px;

              & .card-msg__text {
                font-size: 11px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                color: $text-color-light;
              }
            }

            & .card__msg-details {
              display: flex;
              flex-direction: column;
              justify-content: space-around;
              font-size: 9px;
            }
          }
        }
      }
    }
  }
}

.card_selected {
  background-color: $bg-color-selected-light;
  border-radius: 30px;
}

.messages-board {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  background-color: $bg-color-additional-light;
  border-radius: 30px;
  margin: -10px 0 0 10px;

  & .message {
    p {
      display: block;
      border: 1px solid $bg-color-primary;
      border-radius: 20px;
      margin: 10px;
      padding: 5px;
    }
  }
}

.messages-board__info-block {
  position: absolute;
  top: -25px;
  background-color: $bg-color-selected-light;
  padding: 10px 73px 10px 10px;
  border-radius: 30px;
}

span.card__msg-details__msg_counter {
  align-self: end;
}

.profile_mode {
  padding: 0;
  background-color: $bg-color-primary;
  align-self: center;
  flex-direction: row;
  width: 57%;

  & .form_input {
    position: relative;

    & span.form_editMode {
      position: absolute;
      font-size: 10px;
      top: 32px;
      right: -25px;
      cursor: pointer;
    }
  }

  & .avatar_block {
    flex-basis: 100px;
    align-self: flex-start;
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;

    & img {
      height: 120px;
    }

    & .avatar_block__span {
      padding-top: 10px;
      font-size: 10px;
      cursor: pointer;
    }
  }
}
