---
{
    # update this options to see different tabs in chat:
    profile_mode: false,
    chat_mode: true,
    addgroup_mode: false,
    modalWindow_mode: true,

    # in case field-editing-mode. Specify fields for editing:
    modalContent: { 
        password: true,
        name: "password",
        pageName: "Change password", 
        placeholderMsg: "Old password",
        inputType: "password",
        btn_action: "saveBtn",
        btn_action_name: "Save"
        },

    # in case avatar changing mode:

    #modalContent: { 
        #avatar: true,
        #name: "filename",
        #pageName: "Change avatar", 
        #inputType: "file",
        #btn_action: "saveBtn",
        #btn_action_name: "Save"
        #}
}
---


{{!< main }}

<div class="chat-board">
    <section class="cards-section">
        <div class="chat-section__input">
            {{> input placeholderMsg="Enter name" inputType="search" }}
        </div>
        <div class="cards-section__chat-panel">
            <ul>
                 {{#each data.users}}
                <li>
                    {{> card this}}
                </li>
                {{/each}}
                
            </ul>
        </div>
    </section>
    <section class="main-board-section">
        <nav class="main-board__navigation">
            <ul>
                <li>My profile</li>
                <li>Chat</li>
                <li>Add group</li>
            </ul>
        </nav>
       {{#if profile_mode}}
        {{> profile }}
       {{/if }}
        {{#if chat_mode}}
        {{> message_board}}
       {{/if }}
       {{#if modalWindow_mode}}
        {{> modal modalContent}}
       {{/if }}

       {{!--when functional will provide: 
       {{> addgroup_board}}
       --}}
        
    </section>
</div>
