---
pageName: "404"
errorTitle: "We cannot find the requested page"
---
{{!-- in case 500 error occur:
pageName: "500"
errorTitle: "Something went wrong on the server side"
 --}}

{{!< main }}

<section class="fail-section">
    <h1 class="fail-msg">{{pageName}}</h1>
    <h3 class="fail-msg">{{errorTitle}}</h3>
    <div>
        <a href="./chats.hbs" class="">Take me home.</a>
    </div>
</section>
