---
pageName: "Login page"
textForReffering: "If you don’t have a Chatopolis account:"
href: "./registration.hbs"
errorMsg: "Password is too short"
---

{{!< main}}

<section class="form_container">
    <h2>{{pageName}}</h2>
    <form action="#" method="post">
        {{> input label="Login" name="login" error="Login is too short"}}

        {{> input label="Password" name="password" inputType="password"  error=errorMsg}}

        {{> button submitBtn="loginBtn" btn_text="Log in"}}

        {{> link reasonText=textForReffering address=href linkText="Register"}}
    </form>
</section>

