---
pageName: "Create Page"
textForReffering: "Already have a Chatopolis account?"
href: "./login"
---
{{!< main }}

<section class="form_container">
    <h2>{{pageName}}</h2>
    <form action="#" method="post">
        {{> input label="Email" name="email" inputType="email"}}

        {{> input label="Login" name="login"}}

        {{> input label="First name" name="first_name" inputType="text"}}

        {{> input label="Last name" name="second_name" inputType="text"}}

        {{> input label="Password" name="password" inputType="password"}}

        {{> input label="Phone" name="phone" inputType="tel"}}

        {{> button submitBtn="registerBtn" btn_text="Register"}}

        {{> link reasonText=textForReffering address=href linkText="Log in"}}

    </form>
</section>
