---
pageName: Create Page
---
{{!< main }}

<section class="form_container">
    <h2>{{pageName}}</h2>
    <form action="#" method="post">
        {{> input label="Email" name="email" inputType="email"}}

        {{> input label="Login" name="login"}}

        {{> input label="First name" name="f_name" inputType="text"}}

        {{> input label="Last name" name="l_name" inputType="text"}}

        {{> input label="Password" name="password" inputType="password"}}

        {{> input label="Phone" name="phone" inputType="tel"}}

        {{> button submitBtn="registerBtn" btn_text="Register"}}

        <aside>
            <p>Already have a Chatopolis account?<a href="./login.hbs">Login</a>.</p>
        </aside>
    </form>
</section>
