$bg-color-primary: #ebeeef;
$bg-color-additional: #dadada;
$bg-color-additional-light: #ffffff;
$bg-color-additional-dark: #f4f8f9;
$bg-color-selected-light: #dae5e2;

$color-white: #ffffff;
$text-color-light: #848484;
$text-color-dark: #0e565a;
$text-color-error: #c24949;

$button-color: #2b6767;
$button-color-light: #eee8cb;
$input-color-border: #cfcfcf;
$overlay-bg-color: rgb(80 80 80 / 50%);

$form-content-width: 335px;
$content-width: 1057px;
$content-height: 900px;
