<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../sass/style.css" rel="stylesheet">
    <title>Chatopolis</title>
</head>

<body>
    <main class="wrapper">
        <header class="title">
            <h1>Chatopolis</h1>
        </header>

        <aside>
            <p><a href="../pages/registration.hbs">Join Now</a></p>
            <p><a href="../pages/login.hbs">Login</a></p>
            <p> <a href="../pages/chats.hbs">Chats</a></p>
            <p><a href="../pages/fail.hbs">Fail</a></p>
        </aside>
    </main>
</body>

</html>